.loader{
	position: absolute;
	text-align: center;
	left: 0;
	top: 0;
	background: #D9D9D9;
	z-index : 800;
	opacity: 0.8;
	width: 100%;
	height: 100%;
}

.loader > img {
  vertical-align: middle;
  position: relative; 
  top: 40%;
}


.loaderInferior{
	position: absolute;
	text-align: center;
	left: 0;
	bottom:0;
	background: #D4D4D4;
	z-index : 800;
	opacity: 0.8;
	width: 100%;
	height: 40px;
	display: none;
}

.loaderInferior > img {
  vertical-align: middle;
  position: relative; 
}