/* Theme Facebook */
.facebook #top { background: url(../images/themes/facebook/top.jpg) repeat-x 0 0 !important; }
.facebook #sidebar { background: url(../images/themes/facebook/side.jpg) repeat-y !important; }
.facebook body { background: url(../images/themes/facebook/body.jpg) !important; }
.facebook .topAlert { background: url(../images/themes/facebook/sidebar.jpg) !important; }
.facebook .topSearch { background: url(../images/themes/facebook/sidebar.jpg) !important; }
.facebook .mainNav { background: url(../images/themes/facebook/sidebar.jpg) !important; }
.facebook .leftUser li { background: url(../images/themes/facebook/sidebar.jpg) !important; }
.facebook .user a > span { background: url(../images/themes/facebook/sidebar.jpg) !important; }
.facebook .nav li ul li { background: url(../images/themes/facebook/sidebar.jpg) !important; }
.facebook .secTop { background: url(../images/themes/facebook/contentTop.png) repeat-x !important; }
.facebook .iconsLine li { background: url(../images/themes/facebook/breadcrumbs.png) repeat-x !important; }
.facebook .iconsLine li.clicked a { background: url(../images/themes/facebook/subnav.jpg) !important; }
.facebook .subNav li a.this { background: url(../images/themes/facebook/body.jpg) !important; }
.facebook .userList li.this a { background: url(../images/themes/facebook/body.jpg) !important; }
.facebook .fulldd { background: url(../images/themes/facebook/breadcrumbs.png) repeat-x !important; }
.facebook .contentTop { background: url(../images/themes/facebook/contentTop.png) repeat-x !important; }
.facebook .breadLine { background: url(../images/themes/facebook/breadcrumbs.png) repeat-x !important; }
.facebook ul.breadcrumbs li ul li { background: url(../images/themes/facebook/sidebar.jpg) !important; }
.facebook .middleFree li > strong {background: url(../images/themes/facebook/sidebar.jpg) !important; }
.facebook .tDark thead td { background: url(../images/themes/facebook/sidebar.jpg) !important; }
.facebook .altMenu > li { background: url(../images/themes/facebook/sidebar.jpg) !important; }
.facebook .secNav { background: url(../images/themes/facebook/subnav.jpg) !important; }
/* End Themes*/
